<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.walnutburgundy.zine">
  <application android:label="Zine" android:hasCode="false" android:allowBackup="false"
      android:extractNativeLibs="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name="android.app.NativeActivity" android:exported="true">
      <meta-data android:name="android.app.lib_name" android:value="zine" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
